{% extends "base.html" %} {% block content %}
<div class="block">
  <h1 class="is-size-1 has-text-centered">{{ employee.user.first_name }}</h1>

  <form action="" method="post">
    {% with form=user_form %}
    {% include 'form.html' %}
    {% endwith %}
    {% with form=employee_form %}
    {% include 'form.html' %}
    {% endwith %}
  </form>
  <a href="{% url 'Update Employee' employee.user.username %}"
    ><button class="button is-primary">Update</button></a
  >
  {% if request.user == employee.user %}
  <a href="{% url 'update_password' %}">
    <button class="button is-warning">Update Password</button>
  </a>
  {% endif %}
  <div class="block" style="padding-top: 20px;">
    <div class="panel is-info">
      <p class="panel-heading">Areas</p>
    {% for area in employee.areas %}
      <a class="panel-block">
        {{ area.name }}
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
