{% extends "base.html" %} {% block content %}
<div class="block">
  <h1 class="is-size-1 has-text-centered">{{ customer.user.first_name }}</h1>
  <div class="columns">
    <div class="column">
      <a href="{% url 'Update Customer' customer.user.pk %}">
        <button class="button is-primary">Update</button>
      </a>
    </div>
    <div class="column">
      <a href="{% url 'view_payments' customer.user.pk %}">
        <button class="button is-primary">Payments</button>
      </a>
    </div>
    <div class="column">
      <a href="{% url 'Add Customer Connection' customer.user.pk %}">
        <button class="button is-primary">Add Connection</button>
      </a>
    </div>
  </div>
  <form action="" method="post">
    {% with form=user_form %}
    {% include 'form.html' %}
    {% endwith %}
    {% with form=customer_form %}
    {% include 'form.html' %}
    {% endwith %}
  </form>
  <h2 class="is-size-2 has-text-centered">Connections</h2>
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for connection in connections %}
      <tr
        data-url="{% url 'View Customer' customer.pk %}"
        class="clickable-row"
      >
        <td>{{ connection.id }}</td>
        <td>{{ connection.active }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
{% endblock %}
