{% extends "base.html" %} {% block content %}
<div class="block">
  <h1 class="is-size-1 has-text-centered">{{ customer.user.first_name }}</h1>
  <div class="columns">
    <div class="column">
      <a href="{% url 'Update Customer' customer.user.pk %}">
        <button class="button is-primary">Update</button>
      </a>
    </div>
    <div class="column">
      <a href="{% url 'view_payments' customer.user.pk %}">
        <button class="button is-primary">Payments</button>
      </a>
    </div>
    
  </div>
  <form action="" method="post">
    {% with form=user_form %}
    {% include 'form.html' %}
    {% endwith %}
    {% with form=customer_form %}
    {% include 'form.html' %}
    {% endwith %}
    
  </form>
  <div class="block">
    Predicted Payment Delay In Days from Original Payment Date
    <input value={{ customer.expected_delay }} class="input is-rounded"/>
    <br>
    Probability of Defaulting 
    <input value={{ customer.default_probability }} class="input is-rounded"/>
  </div>
  <h2 class="is-size-2 has-text-centered">Connections</h2>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form action="{% url 'Add Customer Connection' customer.user.pk %}" method="get">
        
        <div class="columns">
          <div class="column">
            <input class="input is-rounded" type="text" name="box_ca_number" placeholder="Enter new Box CA Number"/>
          </div>
          <div class="column">
            <button class="button is-primary" type="submit">Add Connection</button>
          </div>
        </div>
      </form>
      
      
    </div>
  </div>
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Active</th>
        <th>Card ID</th>
        <th>Start Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for connection in connections %}
      <tr
        data-url="{% url 'View Customer' customer.pk %}"
        class="clickable-row"
      >
        <td>{{ connection.id }}</td>
        <td>{{ connection.active }}</td>
        <td>{{ connection.box_ca_number }}</td>
        <td>{{ connection.start_date }}</td>
        {% if connection.active %}
        <td>
          <a href="{% url 'Disable Customer Connection' customer.user.pk connection.id %}">
            <button class="button is-danger">Disable</button>
          </a>
        </td>
        {% else %}
        <td>
          <a href="{% url 'Enable Customer Connection' customer.user.pk connection.id %}">
            <button class="button is-success">Enable</button>
          </a>
        </td>
        {% endif %}
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <th>ID</th>
        <th>box CA Number</th>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for bill in bills %}
      <tr
        data-url="{% url 'View Customer' customer.pk %}"
        class="clickable-row"
      >
        <td>{{ bill.id }}</td>
        <td>{{ bill.connection.box_ca_number }}</td>
        <td>{{ bill.from_date }}</td>
        <td>{{ bill.to_date }}</td>
        <td>{{ bill.amount }}</td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
