{% extends "base.html" %} {% block content %}
<div class="block">
  <h1 class="is-size-1 has-text-centered">
    Update {{ customer.user.first_name }}
  </h1>
  <form action="" method="post">
    {% with form=user_form %}
      {% include 'form.html' %}
    {% endwith %}
    {% with form=customer_form %}
      {% include 'form.html' %}
    {% endwith %}
    <div class="block">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <button
            type="submit"
            class="button is-fullwidth is-primary"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
