{% load static %}
<html lang="en">
  <head>
    <title>SKAPT Cable</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
  </head>
  <body>
    {% if user_is_authenticated %}
    <nav>
      <div
        class="columns is-size-1 has-background-primary"
        style="margin: 20px; border-radius: 10px"
      >
        <div class="column">
          <a href="/home" class="has-text-success-dark has-text-centered"
            ><p class="has-text-centered">Home</p></a
          >
        </div>
        <div class="column">
          <a href="/Customers" class="has-text-success-dark has-text-centered"
            ><p class="has-text-centered">Customers</p></a
          >
        </div>
        <div class="column">
          <a href="/employees" class="has-text-success-dark has-text-centered"
            ><p class="has-text-centered">Employees</p></a
          >
        </div>
        <div class="column">
          <a href="/Areas" class="has-text-success-dark has-text-centered"
            ><p class="has-text-centered">Areas</p></a
          >
        </div>
        <div class="column">
          <a href="/Payments" class="has-text-success-dark"
            ><p class="has-text-centered">Payments</p></a
          >
        </div>
        <div class="column is-2 is-offset-2">
          <a href="/logout" class="has-text-danger-dark has-text-centered"
            ><p class="has-text-centered">Logout</p>
          </a>
        </div>
      </div>
    </nav>
    {% endif %}

    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
